---
const name = 'Olá 👋🏻, eu sou o Wallace.'
---
<html lang="pt_BR">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<title>{name}</title>
	</head>
	<body>
		<h1>{name}</h1>
	</body>
</html>
