<html lang="pt-br">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Wallace Oliveira</title>
	</head>
	<body>
    <main class="grid place-items-center w-full min-h-screen p-4 select-none font-mono">
      <section class="w-full max-w-3xl border-4 border-gray-700 md:pb-8 rounded-lg">
        <span class="block w-full h-8 bg-gray-200 border-b-4 border-gray-700 rounded-t-md" />
        <header class="block p-4 md:py-8 md:px-10">
          <h1 class="text-4xl md:text-5xl font-extrabold text-gray-700">Wallace Oliveira</h1>
          <h3 class="text-md font-light md:text-xl text-gray-500 leading-loose underline decoration-wavy decoration-red-500 decoration-2 underline-offset-8">Desenvolvedor Fullstack</h3>
        </header>
        <article class="p-4 md:px-10 space-y-4">
          <p>
            Coloco javascript em produção, quase sempre gosto de falar sobre desenvolvimento web, estou sempre estudando alguma coisa nova, no meu tempo livre eu
            gosto de não fazer nada.
          </p>
        </article>
      </section>
    </main>
	</body>
</html>
